*{
    padding: 0px;
    margin: 0px;
}
body
{
    background-color: rgb(230, 230, 230); 
    font-family:Verdana;  
}

.header{
    position: absolute;
    width: 100%;
   
}
.menu{
    position: absolute;
    background-color: #ffffff;
    top:0;
    left: 0;
    width: 100%;
    height: 85px;
    display: flex;
    align-items: center;
}
.menu .logo
{
    margin-left: 6px;
    margin-top: 2px;  
    
}
.menu .list-container
{
    margin: 0px 14%;
    margin-top: 20px;
    
}
.menu .list-container ul
{
    display: inline-flex;

}
.menu .list-container ul
{
    list-style: none;
}
.menu .list-container ul  a {
    margin-left: 20px;
    text-decoration: none;
    padding: 7px 25px;
    color: black;
    transition: 0.3s;
    font-size: 17px;
}
.menu .list-container li:hover > ul{
    position: fixed;
    background-color: white;
    border-radius: 10px;


}
.menu .list-container ul li a:hover
{
    background:#fc7323 ;
    color: #ffffff;
    
}
.fecha {
    position: absolute;
    font-family: Verdana;
    color: #EB5C00;
    top: 10%;
    margin-left: 17%;
}
.login-box {
    background-color: rgba(255, 255, 255, 0.705);
    border-radius: 10px;
    border: #fc7323 3px solid;
    width: 350px;
    height: 420px;
    color: #fc7323;
    top: 50%;
    left: 25%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 40px 30px;
    margin-left: 20px;
    
}

.login-box h1 {
    margin: 0;
    padding: 0 0 50px;
    text-align: center;
    font-size: 22px;
}

.login-box label {
    margin: 0;
    padding: 0;
    display: block;
    color: black;
    margin-left: 20px;
}

.login-box input {
    width: 90%;
    margin-bottom: 20px;
    margin-left: 10px;
}

.login-box input[type="text"],
.login-box input[type="password"] {
    text-decoration: none;
    border: 1px solid #070707 ;
    background: transparent;
    color: rgb(0, 0, 0);
    font-size: 16px;
    border-radius: 10px;
    height: 25px;
}



.login-box input[type="submit"] {
    border-radius: 10px;
    outline: none;
    height: 30px;
    width: 50%;
    margin-top: 40px;
    background-color: transparent;
    color:  rgb(255, 255, 255);
    font-size: 18px;
    background-color:#fc7323;
    margin-left: 25%;
    border-style: none;

}



.login-box input[type="submit"]:hover {
    cursor: pointer;
    background:#238276 ;
    color: rgb(255, 255, 255);
    border-style: none;
}

.login-box a{
    text-decoration: none;
    outline: none;;
    color: rgb(0, 0, 0);
    font-size: 13px;
}

.login-box a:hover{
    cursor: pointer;
    text-decoration: none;
    outline: none;;
    color: #fc7323;
    font-size: 13px;
}


.a1{
    margin-left: 60px;
    
}
.a2{
    margin-left: 20px;
}

.logo{
    margin-left: 770px;
    margin-top: 7%;
}

.logo p{
    text-align: left;
    font-size: 19px;
    margin-left: -70px;
}

.pie{
    position: relative;
    left:0;
    bottom: 0;
    width: 100%;
    height: 90%;
    background:#238276;
    display: flex;
    align-items: flex-end;
    margin-top: 79px;
    margin-left: 0px;
   
}
.pie img
{
    margin-left: 20px;
    
}
.info 
{
   border-left: solid var(--white);
   margin: 5px;
   
}
.info p
{
    font-size: 13px;
    color: rgb(0, 0, 0);
    font-family: Verdana;
    margin: 5px;
    margin-left: 20px;
}

   .column2 h2{
   font-size: 22px;
   }
   .column2.img{
   margin-top: 20px;
   display: flex;
   }
   .column2 {
    margin-left: 720px;
   }
   