
*{
    padding: 0px;
    margin: 0px;
}
body
{
    background-color: rgb(230, 230, 230); 
    font-family:Verdana;  
}

.header{
    position: absolute;
    width: 100%;
   
}
.menu{
    position: absolute;
    background-color: #ffffff;
    top:0;
    left: 0;
    width: 100%;
    height: 85px;
    display: flex;
    align-items: center;
    border-bottom: 3px solid #fc7323;
}
.menu .logo
{
    margin-left: 6px;
    margin-top: 2px;  
    
}
.menu .list-container
{
    margin: 0px 14%;
    margin-top: 20px;
    
}
.menu .list-container ul
{
    display: inline-flex;

}
.menu .list-container ul
{
    list-style: none;
}
.menu .list-container ul  a {
    margin-left: 20px;
    text-decoration: none;
    padding: 7px 25px;
    color: #fc7323;
    transition: 0.3s;
    font-size: 17px;
}
.menu .list-container li:hover > ul{
    position: fixed;
    background-color: white;
    border-radius: 10px;


}
.menu .list-container ul li a:hover
{
    background:#fc7323 ;
    color: #ffffff;
    
}
.fecha {
    position: absolute;
    font-family: Verdana;
    color: #EB5C00;
    top: 10%;
    margin-left: 17%;
}
.contactenos{
    text-align: center;
    width: 350px;
    height: 420px;
    color:  rgb(89, 181, 72);
    top: 50%;
    left: 15%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 40px 30px;
    margin-left: 20px;
    
}

.contactenos h3{
    padding: 0 0 50px;
    font-size: 22px;
}

.contactenos .uno{
    width: 190%;
    display: grid;
    grid-template-columns: 1fr;
}
.contactenos .dos{
    width: 180%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:5px;
}

.contactenos .tres{
    width: 173%;
    height: 160px;
    display: grid;
    grid-template-columns: 1fr;
}
.contactenos .mensaje{
    text-decoration: none;
    border: 2px solid rgb(89, 181, 72) ;
    background: white;
    color: rgb(0, 0, 0);
    font-size: 16px;
}

.contactenos input {
    width: 90%;
    margin-bottom: 20px;
}

.contactenos input[type="text"],
.contactenos input[type="email"],
.contactenos input[type="tel"]{
    text-decoration: none;
    border: 2px solid  rgb(89, 181, 72) ;
    background: white;
    color: rgb(0, 0, 0);
    font-size: 16px;
    height: 25px;
}


.contactenos input[type="submit"] {
    outline: none;
    height: 30px;
    width: 50%;
    margin-top: 20px;
    background-color:transparent;
    color:  rgb(255, 255, 255);
    font-size: 18px;
    background-color: rgb(89, 181, 72);
    margin-left: 60%;
    border-style: none;

}



.contactenos input[type="submit"]:hover {
    cursor: pointer;
    background:#238276 ;
    color: rgb(255, 255, 255);
    border-style: none;
}


.logo{
    margin-left: 770px;
    margin-top: 7%;
}

.logo p{
    text-align: left;
    font-size: 19px;
    margin-left: -70px;
}

.pie{
    position: relative;
    left:0;
    bottom: 0;
    width: 100%;
    height: 90%;
    background:#238276;
    display: flex;
    align-items: flex-end;
    margin-top: 79px;
    margin-left: 0px;
   
}
.pie img
{
    margin-left: 20px;
    
}
.info 
{
   border-left: solid var(--white);
   margin: 5px;
   
}
.info p
{
    font-size: 13px;
    color: rgb(255, 255, 255);
    font-family: Verdana;
    margin: 5px;
    margin-left: 20px;
}

 
.column2 i{
    margin: 8px;
    font-size: 24px;
    color: #ffffff;
}
.column2 {
     margin-left: 700px;
}

