*{
    padding: 0px;
    margin: 0px;
}
body
{   
    background-color: rgb(230, 230, 230); 
    font-family:Verdana;  

}


.header{
    position: absolute;
    width: 100%;

}
.menu{
    border-bottom: 1px solid #000;
    position: absolute;
    background-color: #ffffff;
    top:0;
    left: 0;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
    margin-left: 0px;
}
.menu .logo
{
    margin-left: 25px;
    margin-top: 10px;   
}
.nombre
{
    color: #238276;
    margin-top: 5px;
    margin-right: auto;
    font-size: 25px;
    

}
/* menu  */

.menu .list-container
{
    margin: 0px -13%;
    margin-top: 30px;
    
}
.menu .list-container ul
{
    display: inline-flex;

}
.menu .list-container ul
{
    list-style: none;
}
.menu .list-container ul  a {
    margin-left: 25px;
    text-decoration: none;
    padding: 7px 20px;
    color: black;
    transition: 0.3s;
    font-size: 15px;
}
.menu .list-container li:hover > ul{
    position: fixed;
    background-color: white;
    border-radius: 10px;


}
.menu .list-container ul li a:hover
{
    background:#fc7323 ;
    color: #ffffff;
    
}
.menu .salir {
    padding: 0px 50px;
    margin-top: -25px;
}
.menu .salir ul{
    list-style: none;
}
.menu .salir a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 14px;
}


.admin{
    color: #ffffff;
    font-size: 17px;
    margin-left: 45%;
    margin-top: 40px;

}
.uno img{
    margin-top: -40%;
    margin-left: 20px;
    
}

.menu2{
    border-right: 1px solid black;
    margin-top:78px;
    margin-left: -10px;
    width: 20%;
    height: 582px;
    background-color: rgb(255, 255, 255);
    
}
.uno{
    padding: 1px;
    background-color:#238276;
}
.menu2 li{
    list-style: none;
}

